<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>logback</contextName>
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 打开 Bean Searcher 的 SQL 日志 -->
    <logger name="cn.zhxu.bs" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="console" />
    </logger>
    <root level="ERROR">
        <appender-ref ref="console" />
    </root>

</configuration>
