.nav-bar .logo {
  height: 1.8rem;
}

.home .home-hero .image {
  height: 200px;
}

.home .home-hero .title {
  margin-bottom: 1.2rem;
}

.page .container {
  max-width: 70%;
}

.page .container .next-and-prev-link .container {
  max-width: none;
}

@media screen and (max-width: 1400px) {
  .sidebar {
    width: 16rem !important;
  }
  .page {
    margin-left: 16rem !important;
  }
  .page .container {
    margin-left: 1rem;
    max-width: 80%;
  }
}

@media screen and (max-width: 1032px) {
  .sidebar {
    width: 15rem !important;
  }
  .page {
    margin-left: 15rem !important;
  }
  .page .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 719px) {
  .page {
    margin-left: 0 !important;
  }
  .page .container {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 100%;
  }
}
